/* Dashboard CSS */

.tiles, .top_tiles {
    margin-bottom: 0;
}

.dashboard-row{
    padding-top: 15px;
}

.description-block.margin-bottom {
    margin-bottom: 25px;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.dashboard-box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}

.dashboard-description-header{
    color: lightgrey;
    font-weight: bold;
    font-size: 22px;
}

.bg-color {
    background: #5d95bc;
    background: radial-gradient(ellipse at center, #9f0267 40%, #520561 80%);
    background-size: 100%;
}

input#to:invalid:not(:focus) {
    outline: 1px solid #f00;
}

.fontcolor{
    color:white;
}

.pressure {
    background: #5d95bc;
    background: radial-gradient(ellipse at center, #02629f 40%, #093d74 80%);
    background-size: 100%;
}

.pressurenew {
    background: #5d95bc;
    background: radial-gradient(ellipse at center, #b1a622 40%, #9a7611 80%);
    background-size: 100%;
}

.tilt {
    background: #5d95bc;
    background: radial-gradient(ellipse at center, #309f02 40%, #157103 80%);
    background-size: 100%;
}

.occupancy {
    background: #f3e75d;
    background: radial-gradient(ellipse at center, #e8bd20 40%, #e2902a 80%);
    background-size: 100%;
}

.height {
    background: #d01742;
    background: radial-gradient(ellipse at center, #cc3118 40%, #74092c 80%);
    background-size: 100%;
}


/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
.bosch:before {
  content:url("images/logopng.png");
    display:inline;
   height:100px;
   width:200px;

  
}
.form-style-5{
    float: left;
	max-width: 800px;
	padding: 10px 20px;
/*	background: #f4f7f8;*/
	margin: 10px auto;
	padding: 20px;
/*	background: #f4f7f8;*/
	border-radius: 8px;
        border-color: green;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
        max-width: 400px;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
         max-width: 400px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
         max-width: 400px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 7px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
	
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	 max-width: 400px;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.hoverClick:hover{
    opacity: 0.8;
    cursor: pointer;
    color: gainsboro;
}

.dashboard-header{
    background: #5d95bc;
    background: radial-gradient(ellipse at center, #177f90 40%, #163f71 80%);
    background-size: 100%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background: #d01742;
    background: radial-gradient(ellipse at center, #cc3118 40%, #74092c 80%);
    background-size: 100%;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

