<script type='text/javascript' src="http://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
<div class="form-style-5" style="border: solid #109177 2px">
    <form>
        <table>
            <tr>
                <td>
                    <fieldset>
                        <legend> Candidate Info</legend>
                        <input type="text" name="field1" placeholder="Your Name *" data-bind="textInput:name">
                        <input type="text" name="field2" placeholder="Your Age *" data-bind="textInput:age">
                        <input type="number" name="field3" placeholder="Your Height *" data-bind="textInput:height">
                        <input type="number" name="field4" placeholder="Your Weight *" data-bind="textInput:weight">
                        <input type="number" name="field3" placeholder="Phone Number *" maxlength="10" data-bind="textInput:phone">

                    </fieldset>   
                </td>
                <td style="width:80px">

                </td>
                <td >
                    <img src="./css/images/chair.png">
                </td>
            </tr>
            <tr>
            <input type="button" value="SUBMIT" on-click="[[writeUserData]]" />
            </tr>
        </table>


    </form>
</div>